@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    ._container {
        @apply max-w-[1920px] mx-auto px-[3%];
    }
    .btn-primary {
        @apply px-4 md:px-8 py-2 rounded-full bg-primary border border-primary text-white hover:bg-white hover:text-primary  transition-all duration-700
    }
    .btn-follow {
        @apply border-2 border-blue-500 px-8 py-1 flex justify-center items-center rounded-2xl font-medium transition-all duration-700 hover:bg-blue-900 hover:text-white
    }

    .btn-single-follow {
        @apply bg-blue-400 px-4 py-1 text-white font-bold lato
    }

    
}
body{
    font-family: "Tiro Bangla", serif;
    font-weight: 400;
    font-style: normal;
}
.lato {
    font-family: "Lato", sans-serif;
  }
.box-shadow{
    box-shadow: 0 1px 3px #868383cc;
}
  

  @media only screen and (min-width: 650px) { 
    .swiper-wrapper{
        justify-content: center !important;
    }
}


.button{
    background: rgba(222, 222, 222, .5);
}